@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    box-shadow:
    0 5px 12px rgba(5, 0, 0, 0.5),
    0 5px 12px rgba(5, 0, 0, 0.5);
  }
  
  * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  .top-header {
      background-color: #272a31;
      display: flex;
      justify-content: flex-end;
  }

  .top-nav {
      display: flex;
      justify-content: space-between;
      width: 18%;
      margin-right: 12%;
      list-style-type: none;

  }

  .top-nav li a {
      color: #d3d3d3;
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      text-decoration: none;
  }

  .navbar {
background-color: #fff;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 76%;
margin: 0 auto;
  }

  .nav-menu {
      display: flex;
list-style-type: none;
justify-content: space-between;
width: 65%;
margin: auto 0;

  }

  .nav-menu li a {
    color: #272a31;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-decoration: none;
text-align: center;
background-color: #fff;
margin: auto 0;
  }

  .nav-menu li a:hover {
      color: #ec5242;
  }

.nav-menu span {
    border: 4px solid #ec5242;
    padding: 8px;
    color: #ec5242;
    
}
  .hamburger, .join-summit {
      display: none;
  }

.first-container {
    background: url(img/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.introduction {
    width: 76%;
margin: 0 auto;
}

.introduction h3 {
color: #ec5242;
font-size: 48px;
font-weight: normal;
padding-top: 100px;
}


.introduction h1 {
           color: #ec5242;
    font-size: 80px;
    line-height: 70px;
    font-weight: 900;
    padding-right: 48px;
    background: linear-gradient(to left,
    red,
    rgba(236, 67, 96, 0.863),
    rgba(255, 0, 0, 0.26),
    rgb(105, 44, 3),
    #ec5242,
     red,
    rgb(133, 88, 4),
    red);
-webkit-background-clip: text;
color: transparent;

}

.short-intro {
border: 2px solid #fff;
width: 60%;
font-size: 16px;
padding: 24px;
margin-top: 24px;
background-color: rgba(249, 249, 249, 0.5);
border-radius: 4px;

}

.time {
font-size: 36px;
color: #272a31;
font-weight: 900;
margin-top: 36px;
}

.venue {
    color: #272a31;
font-size: 24px;
margin-top: 12px;
padding-bottom: 100px;
}

.forum {
background: url(img/bg2.png);
background-repeat: repeat;
opacity: 1;
}

.main-program {
color: #d3d3d3;
font-size: 24px;
padding-top: 48px;
text-align: center;
}

.line-bar {
    display: block;
    margin: 4px auto 50px auto;
    background-color:#ec5242;
width: 40px;
height: 4px;
  }
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 5fr));
    width: 76%;
    justify-content: start;
    align-content: center;
    margin: 0 auto 0 auto;
    position: relative;
    gap: 4px;
  }

.main-card {
background-color: rgba(60, 63, 70, 0.5);
border-radius: 4px;
width: 100%;
border: 2px solid rgba(60, 63, 70, 0.5);
}

.main-card:hover {
    border: 2px solid #d3d3d3;
    transition-timing-function: ease-in-out;
    transition: width 2s;
}

.main-card img {
    display: block;
margin: 24px auto 12px auto;
}

.main-card h3 {
    text-align: center;
    color: #ec5242;
    font-size: 24px;
}

.main-card p {
text-align: center;
padding: 12px;
color: #d3d3d3;
font-size: 14px;
}

h3.whole-program {
text-decoration: underline;
font-size: 24px;
color: #d3d3d3;
display: block;
margin: 50px auto 0 auto;
text-align: center;
padding-bottom: 100px;
}

.featured-speakers {
    text-align: center;
    font-size: 24px;
    color: #272a31;
    margin-top: 50px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    width: 80%;
    justify-content: start;
    align-content: center;
    margin: 0 auto 0 auto;
    position: relative;
    gap: 24px;
  }

  .speakers-card {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
  }

  .speakers-image {
    background: url(img/img-b.PNG) left top no-repeat;
    position: relative;
    
      width: 20%;
      /* background-color: green; */
      display: block;
      margin: auto;
      margin-left: 24px;
      background-color: #ec5242;
      height: 100%;
      
  }

  .speakers-image img {
      display: block;
      margin: auto;
      /* margin-left: 12px; */
      right: 0;
      bottom: 0;
      margin-left: 12px;
      margin-top: 24px;
  }

  .speakers-details {
      background-color: purple;
      width: 70%;
  }

.speakers-details h3 {
    color: #272a31;
    font-size: 18px;
}

.speakers-details h5 {
    color: #ec5242;
    font-size: 15px;
    padding-top: 4px;
}

.speakers-details p {
    color: #272a31;
    font-size: 15px;
    padding-top: 12px;
}

.partner {
    background-color: #272a31;
    margin-top: 80px;

}

.partner h2 {
    text-align: center;
    font-size: 18px;
    color: #d3d3d3;
    padding-top: 36px;
    padding-bottom: 12px;
}

.partner-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto 12px auto;
    padding-bottom: 40px;
}

.partner-list a {
    text-decoration: none;
    color: rgba(211, 211, 211, 0.5);
}

.mozilla, .navier {
    font-weight: 900;
}

.google, .airbnb, .daumkakao {
    font-weight: 100;
}

.airbnb{
    display: block;
    text-align: center;
    margin: auto 0;
}


footer {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 76%;
    margin: 0 auto 0 auto;
    padding-top: 50px;
    flex-wrap: wrap;
}

.copyright-details {
    width: 70%;
    color: #272a31;
}

.copyright-details h4 {
    width: 100%;
    padding-bottom: 12px;
}



/* About Html Page */
.about h1 {
    padding-top: 100px;
    font-size: 50px;
    color: #ec5242;
    text-align: center;
    width: 70%;
    line-height: 50px;
    margin: 0 auto 0 auto;
}

.about .short-intro {
    display: block;
    margin: 50px auto 50px auto;
    width: 83%;
    background-color: #fff;
    text-align: center;
    color: #272a31;
    font-size: 15px;
    line-height: 24px;
}

.contact-us {
    font-size: 18px;
    color: #272a31;
    text-align: center;
}

.via-mail {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0;
}

.via-mail > span {
    margin-left: 12px;
    color: #272a31;
    font-size: 28px;
    padding-top: 4px;
}

.about .line-bar {
    background-color: #272a31;
    width: 18%;
    padding-top: 1px;
}

footer.about {
    background-color: #272a31;
    width: 100%;
}

.about-footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
}

.about-footer .copyright-details {
    color: #d3d3d3;
    width: 73%;
    text-align: center;

}

.summit h2 {
    text-align: center;
    font-weight: bold;
    color: #272a31;
    font-size: 24px;
    padding-bottom: 4px;
    }

.summit p {
    text-align: center;
    font-size: 18px;
    width: 62%;
    font-size: 18px;
    margin: 0 auto 0 auto;
    padding-top: 0;
    color: #272a31;

}

.summit img {
    display: block;
    margin: 24px auto 24px auto;
    border: 1px solid rgba(60, 63, 70, 0.5);
    padding: 24px 48px;
}

.past-summit{
    margin-top: 60px;
    border-top: 3px solid rgba(60, 63, 70, 0.5);
}

.past-summit h2 {
    text-align: center;
    font-weight: bold;
    color: #272a31;
    font-size: 20px;
    padding-top: 60px;
}

.past-summit p {
    text-align: center;
    color: #272a31;
    font-size: 16px;
}

.past-summit .line-bar,
.summit .line-bar {
    margin-bottom: 18px;
}
/* .grid-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    width: 76%;
    justify-content: start;
    align-content: center;
    margin: 0 auto 0 auto;
    position: relative;
    gap: 24px;
  } */

.past-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    justify-content: space-between;
    width: 80%;
    margin: 80px auto 80px auto;
    align-content: center;
    flex-wrap: wrap;

}

.first-image {
    background: url(img/past-summit1.png)  no-repeat;
    width: 100%;
    height: 200px;
    background-size: contain;
    background-position: center;
}

.first-image h2 {
    color: #d3d3d3;
    text-align: center;
    font-size: 24px;
}

.first-image p {
    color: #d3d3d3;
    text-align: center;
    font-size: 18px;

}

.second-image {
    background: url(img/past-summit2.png)  no-repeat;
    width: 100%;
    height: 200px;
    background-size: contain;
    background-position: center;
}

.second-image h2 {
    color: #d3d3d3;
    text-align: center;
    font-size: 24px;
}

.second-image p {
    color: #d3d3d3;
    text-align: center;
    font-size: 18px;
}


@media screen and (max-width: 768px) {
    header.top-header, .nav-branding, .nav-menu, {
      display: none;
    }

    .forum .whole-program {
        display: none;
        visibility: hidden;
      }

    .hamburger {
        display: block;
        background: url(img/hamburger-bg.png)  no-repeat;
        width: 100%;
        background-size: cover;
        padding-top: 24px;

    }

    .navbar {
        width: 100%;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #272a31;
        margin-left: 24px;
      } 

      .first-container {
        background: url(img/bg6.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .introduction {
        width: 90%;
    }

      .introduction h3 {
        color: #ec5242;
        font-size: 18px;
        font-weight: normal;
        padding-top: 24px;
        width: 100%;
        padding-bottom: 8px;
        }
        .introduction h1 {
            font-size: 28px;
            line-height: 28px;
}
.short-intro {
    width: 100%;
    padding: 8px;
    font-size: 13px;
    line-height: 24px;
    color: #272a31;
}

.time {
    font-size: 24px;
}
.venue {
    font-size: 12px;
}

.grid-container {
    width: 80%;
}

.main-card {
    background-color: rgba(60, 63, 70, 0.5);
    border-radius: 4px;
    width: 100%;
    border: 2px solid rgba(60, 63, 70, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .main-card img {
        display: block;
    margin: 24px auto 12px auto;
    width: 15%;
    }
    
    .main-card h3 {
        text-align: left;
        color: #ec5242;
        font-size: 12px;
        display: block;
        margin: auto;
        width: 20%;
    }
    
    .main-card p {
    text-align: left;
    padding: 4px;
    color: #d3d3d3;
    width: 60%;
    font-size: 11px;
    padding-top: 12px;
    }

    .forum .join-summit {
        display: block;
        background-color: #ec5242;
        color: #d3d3d3;
        padding: 24px;
        text-decoration: none;
        width: 60%;
        font-size: 13px;
        margin: 24px auto 24px auto;
        font-weight: bold;
        border-radius: 4px;
        margin-bottom: 24px;
    }

    section.whole-container {
        margin-bottom: 124px;
    }
    .grid-container2 {
    width: 100%;
    }
    .speakers-card {
        width: 90%;
    }

    footer.home-page, .partner {
        display: none;
    }

}

